<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.myapp.dao.MemberMapper">
    <select id="memberList" resultType="com.shop.myapp.dto.MemberDTO">
        select * from member
	</select>
	<!-- 회원 정보 보기 -->
	<select id="getMember" resultType="com.shop.myapp.dto.MemberDTO">
		select * from member where id=#{id}
	</select>
    
	<!-- 로그인 : 컨트롤러에서 처리 -->
	<select id="signIn" resultType="com.shop.myapp.dto.MemberDTO">
		select * from member where id = #{id }
	</select>
	<!-- 로그인 : DAO에서 처리 -->
	<select id="loginCheck" resultType="com.shop.myapp.dto.MemberDTO">
		select id, pw, name from member where id = #{id }
	</select>	
	
	<!-- 회원 가입 : dao에서 insert("member.memberInsert", mdto) -->
	<insert id="memberInsert">
		insert into member values (#{id}, #{pw}, #{name}, #{email}, #{tel}, #{addr1}, #{addr2}, #{postcode}, now())
	</insert>
</mapper>