<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<hr>
<footer id="footer" class="bg-dark py-4 mt-auto">
	<div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <p class="link-light small" href="#!">베스트펜</p>
                <p class="link-light small" href="#!">서울시 강남구 테헤란로38길 43 청록빌딩 지하1층</p>
            </div>
            <div class="col-auto">
                <p class="link-light small" href="#!">사업자번호&nbsp;&nbsp; 220-87-31961 </p>
                <p class="link-light small" href="#!">통신판매번호 &nbsp;&nbsp; 제 강남-11791호</p>
            </div>
            <div class="col-auto"><div class="small m-0 text-white">Copyright © All Rights Reserved. BESEN MASTERPICE</div>
        </div>
    </div>
</footer>